.view {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.game {
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.gif {
  text-decoration: none;
  color: black;
}
